<style>

footer {
    width: 100%;
    box-sizing: border-box;
  }

  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    color: white;
  }
  
  li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  li a:hover{
    text-decoration: underline;
  }
  h3 {
    color: gray;
    font-size: 1rem;
  }
  p{
    color: white;
  }
  .upprer-ft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lower-ft {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    /* Adjustments for small devices */
    .upprer-ft {
      flex-direction: column;
      gap: 2rem;
    }

    .ul {
      justify-content: space-between;
    }
  }
</style>



<footer style="background-color: rgb(38, 34, 34); padding: 20px; border-radius: 4px;">

  <div class="upprer-ft">
    <div class="links">
        <h3>ABOUT</h3>
        <ul >
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Filpkart Wholesale</a></li>
            <li><a href="#">Cleartrip</a></li>
            <li><a href="#">Corporate Information</a></li>
        </ul>
    </div>

    <div class="links">
        <h3>HELP</h3>
        <ul>
            <li><a href="">Payment</a></li>
            <li><a href="">Shiping</a></li>
            <li><a href="">Cancellation & Returns</a></li>
            <li><a href="">Report Infingement</a></li>
        </ul>
    </div>

    <div class="links">
        <h3>CONSUMER POLICY        </h3>
        <ul>
            <li><a href="#">Cancellation & Returns</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Grievance Redressal</a></li>
            <li><a href="#">EPR Compliance</a></li>
        </ul>
    </div>

    <div class="links">
      <h3>Social</h3>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Youtube</a></li>
        </ul>
    </div>

    <div class="links">
      <h3>Mail Us:</h3>
      <ul>
          <li>Flipkart Internet Private Limited</li>
          <li>Buildings Alyssa, Begonia &</li>
          <li>Clove Embassy Tech Village,</li>
          <li>Outer Ring Road, Devarabeesanahalli Villege,</li>
          <li>Bengaluru, 560103</li>
          <li>Karnataka, India</li>
      </ul>
  </div>

  <div class="links">
    <h3>Reistered Office Address:</h3>
    <ul>
      <li>Flipkart Internet Private Limited</li>
      <li>Buildings Alyssa, Begonia &</li>
      <li>Clove Embassy Tech Village,</li>
      <li>Outer Ring Road, Devarabeesanahalli Villege,</li>
      <li>Bengaluru, 560103</li>
      <li>Karnataka, India</li>
      <li>CIN:U21109KA2124TPA088185</li>
      <li>Telephone: <a style="color: rgb(37, 139, 203);" href="tel:+919027640571">042-45826596151</a> </li>
    </ul>
  </div>
</div>





<div class="lower-ft">
  <ul class="ul">
    <li><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/sell-image-9de8ef.svg" alt="Become a Seller" width="13" height="12"> <a href="#">Become a Seller</a></li>
    <li><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/advertise-image-866c0b.svg" alt="Become a Seller" width="13" height="12"> <a href="#">Advertise</a></li>
    <li><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/gift-cards-image-d7ff24.svg" alt="Become a Seller" width="13" height="12"> <a href="#">Gift Cards</a></li>
    <li><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/help-centre-image-c4ace8.svg" alt="Become a Seller" width="13" height="12"><a href="#">Help Center</a></li>
    <li>Copyright © 2023 Shubham Prajapati</li>
    <li ><img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/payment-method-c454fb.svg" alt="Payment methods"></li>

  </ul>
</div>

  <!-- <h2 style="text-align: center; margin-top: 25px; color: white;">@copyright 2023</h2> -->
</footer>




<script>

// Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>