<style>
    #nite{
        background-color: #ccc;
        width: 90%;
        margin: 5px auto;
        padding: 10px;
        border-radius: 2px;
        font-size: 50px;
    }
</style>

<div id="nite" style="font-family: 'Jura', sans-serif; font-family: 'Merriweather', serif; font-family: 'Roboto', sans-serif;"> <i class="fa-solid fa-bag-shopping"></i> Shoping Deals</div>