<%-include("./partials/header")%>
<%-include("./partials/navbar")%>
<div>
    <h1 class="text-center">SOMETHING WANT WRONG</h1>
    <%-include("./partials/flash")%>     
</div>


<%-include("./partials/footer")%>