<%-include("../partials/header")%>
<%-include("../partials/navbar")%>


<style>

    .back{
        position: relative;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="back"> <img width="100%" src="https://img.freepik.com/premium-photo/young-woman-stands-street-with-bags-while-shopping_132358-22110.jpg?size=626&ext=jpg&ga=GA1.2.2118378662.1691927401&semt=sph" alt=""></div>







    
    
