<%-include("../partials/header")%>
<%-include("../partials/navbar")%>
<%-include("../partials/flash")%>




<div style="background-image: url(/Assets/Images/homePage.jpg); width: 100%; position: relative;
background-position: center;
background-size: cover;
background-repeat: no-repeat;">

</div>



<!-- <%-include("../partials/footer")%> -->





    
    
